docs
node_modules
build
dist
coverage
.scannerwork
.cache
.jest-cache.sonarlint/
node_modules/
build/
dist/
lib/
bundle-analyzer/
coverage/
**/.DS_STORE
*.map
*.log
*.swp
*.out
.cache/
.jest-cache/
.eslintcache
.eslintcache-test
eslint-report.json

# generated code
packages/ui-wasm/src/ts/wasm/gms-interop-module.d.ts
packages/ui-wasm/src/ts/wasm/gms-interop-module.js
packages/ui-wasm/src/ts/wasm/ui-wasm-provider.js